body {
    background-image: repeating-linear-gradient(45deg, black, purple, black);
    animation: anime 10s infinite;
    background-size: 500%;
    height: 100vh;
}

@keyframes anime {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

.row {
    padding-top: 2rem;
    margin: 0;
}

.card {
    height: auto;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 1rem;
}

.card-img {
    margin: auto;
    opacity: 0;
    border-radius: 1rem;
}

.card-img:hover {
    transition-duration: 300ms;
    opacity: 1;
    transform: scale(1.08);
}

.card:nth-child(1) {
    padding: 0;
    width: 15rem;
}

.card:nth-child(2) {
    padding: 0;
    width: 15rem;
}

.card:nth-child(3) {
    padding: 0;
    width: 15rem;
}

.card:nth-child(4) {
    padding: 0;
    width: 15rem;
}

.card:nth-child(5) {
    padding: 0;
    width: 15rem;
}

.card:nth-child(6) {
    padding: 0;
    width: 15rem;
}

.card:nth-child(7) {
    padding: 0;
    width: 15rem;
}

.card:nth-child(8) {
    padding: 0;
    width: 15rem;
}

#navi {
    z-index: 1;
    position: absolute;
    background-color: indigo;
    transition-duration: 300ms;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 100%;
}

.navigation-middle {
    transform: translate3d(48.5vw, 0, 0);
}

.navigation-down {
    transform: translate3d(48.5vw, 32vh, 0);
}

.middle {
    position: absolute;
    opacity: 1;
    color: white;
    transform: translate3d(49vw, 3.5rem, 0);
}

.down {
    position: absolute;
    opacity: 0;
    color: white;
    transform: translate3d(49vw, 13rem, 0);
}

.icons {
    display: flex;
    justify-content: space-around;
    z-index: 1;
    transform: translate3d(0, -7rem, 0);
}

a {
    color: white;
}

.fa-brands {
    padding: 1rem;
}

.action {
    width: 0;
    height: 0;
}

.heart {
    background: none;
    border: none;
    transform: translate3d(1rem, -2.2rem, 0);
}

.fa-solid {
    color: white;
    transform: scale(1.5);
}

.fa-solid:hover {
    transition-duration: 300ms;
    color: red;
}